body {
  font-family: Arial;
  margin: 0;
}

.layout {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #f3f4f6;
  height: 100vh;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.main {
  flex: 1;
  background: #fafafa;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.formCard {
  width: 500px;
  background: white;
  padding: 25px;
  margin: 30px auto;
  border-radius: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: green;
  color: white;
  border: none;
  border-radius: 6px;
}